.root {
  --button-height-md: 43px;
  --button-height-sm: 27px;
  --button-width-md: 169px;
  --button-width-sm: 72px;
  --button-fz-md: 16px;
  --button-fz-sm: 12px;
  --button-radius: 10px;
  --button-padding-x-md: 16px;
  --button-padding-x-sm: 4px;

  border-radius: var(--button-radius);
  height: var(--button-height-md);
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.root[data-variant="small"] {
  background-color: var(--mantine-color-primary-0);
  color: white;
  padding-left: var(--button-padding-x-sm);
  padding-right: var(--button-padding-x-sm);
  font-size: var(--button-fz-sm);
  width: var(--button-width-sm);
  height: var(--button-height-sm);
}
.root[data-variant="small"]:hover {
  background-color: var(--mantine-color-primary-0);
  color: white;
}
.root[data-variant="green-small"] {
  background-color: var(--mantine-color-primary-1);
  color: white;
  padding-left: var(--button-padding-x-sm);
  padding-right: var(--button-padding-x-sm);
  font-size: var(--button-fz-sm);
  width: 98px;
  height: var(--button-height-sm);
}

.root[data-variant="biground"] {
  background-color: var(--mantine-color-primary-0);
  width: 56px;
  height: 56px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.root[data-variant="green-biground"] {
  background-color: var(--mantine-color-primary-1);
  width: 56px;
  height: 56px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.root[data-variant="gray-biground"] {
  background-color: var(--mantine-color-grays-0);
  width: 56px;
  height: 56px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}


.root[data-variant="green-md"] {
  background-color: var(--mantine-color-primary-1);
  color: white;
}
.root[data-variant="gray-md"] {
  background-color: var(--mantine-color-grays-0);
  color: white;
}